@import url('https://fonts.googleapis.com/css?family=Poppins:200,100,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}


.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: linear-gradient(150deg, #96CEB8, #a9e2e7);
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #89afa2;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #89afa2;
}

.username input:focus ~ label,
.username input:valid ~ label {
  top: -5px;
  color: #fff;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%;
}

form .contra{
    position: relative;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}

.contra input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.contra label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #89afa2;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.contra span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #89afa2;
}

.contra input:focus ~ label, 
.contra input:valid ~ label{
    top: -5px;
    color: #fff;
}

.contra input:focus ~ span::before,
.contra input:focus ~ span::before{
    width: 100%;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: none;
    background: #96CEB8;
    border-radius: 25px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #a9e2e7;
    transition: .5s;
}

.registro{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.registro a{
    color: blue;
    text-decoration: none;
}

.registro a:hover{
    text-decoration: underline;
}

.circulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a9e2e7;
    clip-path: circle(700px at right 900px);
}

.circulo2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a9e2e7   ;
    clip-path: circle(700px at left 900px);
}